<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<section class="section">
<div class="container">
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Movie genres</h3>
    <%= link_to "Curate a genre", new_list_path, class: "btn btn-flat" %>
  </div>

  <div class="row">
      <% @lists.each_with_index do |list, index| %>
        <div class="column" style="background-image:url(<%= asset_path("list_background.jpg") %>)">
          <%= link_to list_path(list), class:"text-decoration-none" do %>
          <h5 class="title"><%= list.name %></h5>
          <% end %>

        </div>
      <% end %>
</div>
